body{
    margin: 0;
}
main{
    padding: 5px;
    margin-top: 140px;
}
.torre__bloco {
    height: 200px;
    width: 400px;
    /* border: 1px solid #333; */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

.torre {
    height: 200px;
    width: 5px;
    border: 1px solid #333;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    background-color: #715050;
}

#gameContent {
    display: flex;
    justify-content: space-around;
    margin-top: 150px;
    padding: 5px;
}

.bloco {
    width: 100px;
    height: 30px;
    border: 1px solid #333;
    border-radius: 1%;
    z-index: 1;
}

#bloco1 {
    width: 25%;
    background-color: #af1111;
}

#bloco2 {
    width: 50%;
    background-color: #045f04;
}

#bloco3 {
    width: 70%;
    background-color: #212192;
}

#bloco4 {
    width: 100%;
    background-color: #4b2590;
}
#ganhou{
    margin-top: 60px;
    color: #137b13;
    padding: 5px;
}
#result{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family: Arial;
}
@media(min-width: 768px){
    #ganhou{
        font-size: 70px;
        font-weight: bold;
    }
}
@media(min-width: 1440px){
    main{
    border: 2px solid black;
    border-radius: 1%;
    }
    #gameContent{
        justify-content: center;
    }
    .torre__bloco{
        margin: 150px 10px 10px 10px;
    }
}